
#form_login {
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -40%);
}
body{
  background-image: url("../images/dashhome1.jpg");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}
.css-typing p {
  border-right: .15em solid rgb(244, 244, 243);
  font-family: "Times New Roman";
  font-size: 20px;
  font-weight : bold;
  white-space: nowrap;
  overflow: hidden;
}
/* .css-typing p:nth-child(1) {
  width: 18em;
  -webkit-animation: type 3s steps(20, end);
  animation: type 2s steps(20, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(2) {
  width: 17em;
  opacity: 0;
  -webkit-animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  animation: type2 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
} */
h1{
    display :inline-block;
    margin: -5% 10% 0% 22%;  
    /* Edit the margin to get the h1 heading
    The negative sign means it moves in the opposite direction
    - is only for first 5 to move that a little up */
    font-family:  'Times New Roman', Times, serif;
    font-size: 225%; 
    color:#003366;
}
.login {
    float: right;
    right:10px;
    background: #c02633;
    color: #fff;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    /* margin-top: 200px; */
    margin-top: 5%;
    border-radius: 7px;
    margin-left: 90px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}


.rem{
  background-color: aqua;
}


  .bg{
    background-color: #04AA6D;
    /* filter: blur(2.5px);
    -webkit-filter: blur(2.5px); */
    margin-top: 15%;
    height: 70%;    
   /* Edit the height in order to get the full image */
    width: 80%;
    margin-left: 10%;
    /* Center and scale the image nicely */
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-block {
    position: absolute;
    margin: -54% 28%;  /* Edit the above margin to set the text block */
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    opacity: 0.65;
  }
 
h2{
font-size: 27px;
  }

p{
    font-size: 23px;
}

.text-block:hover {
    background-color : rgb(123, 144, 148);
    color : black;
  }
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  text-align : center;
  margin-top: -5px;
  margin-right: 80px;
  float: right;
  /* Edit Margin top, right to move the position of the button*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.txt{
  text-align: left;
  position: relative;
  top : -50%
}

.split {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  padding-top: 0px;
}

.left {
  left: -7%;
  top:-9%;
  
}

.right {
  right: -2%;
  /* margin-top: -20vh; */
  margin-top: -3%;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-60%, -20%);
  text-align: center;
}

h2{
  font-size: 32px;
  color: rgb(25, 43, 51);
}

h3{
  font-size: 22px;
  color: #253e57;

}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #6d44a1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding:10px;
  width: 115px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.logo {
  width:100%;
  height:60px;
  top:10px;
  right: 5%;;
  background-color:#fff;
  z-index: 4px;

}
/*styling of logo*/
#img{
  width:180px;
  height:50px;
 padding:15px;
 
 
}
@media screen and (width:1920px){
  h2{
    font-size: 42px;
  }
  .css-typing p{
    font-size: 30px;
  }
}

