<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/user_css.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/donations_css.css')}}">
      <link rel="stylesheet" href="{{ url_for ('static',filename='css/side.css')}}">
      <link rel="stylesheet" href="{{ url_for ('static',filename='css/all.css')}}">
      <link rel="stylesheet" href="{{ url_for ('static',filename='css/all.min.css')}}">
      <link rel="stylesheet" href="{{ url_for ('static',filename='css/fontawesome.css')}}">
      <link rel="stylesheet" href="{{ url_for ('static',filename='css/fontawesome.min.css')}}">
      <link rel="stylesheet" href="{{ url_for ('static',filename='css/solid.css')}}">
      <link rel="stylesheet" href="{{ url_for ('static',filename='css/solid.min.css')}}">
      <link rel="stylesheet" href="{{ url_for ('static',filename='css/regular.css')}}">
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </head>

    <body>
        
            <div class="header">
                <a class="logo"><img id="img" alt="Anurag" src="../static/images/shiksha-logo.png" ></a>
              
              <div class="righty">
            
              <div class="dropdown" >
                  <button class="right_buttons" id="user_name" onmouseover="checkUser()">
                    {{name}}
               
                  </button></a>
                  <div class="dropdown-content">
                    <a href="/manageusers" id="manage-user">Manage users</a>
                    <a href="/viewprofile">View profile</a>
                    <a href="/logout" >
                      Logout</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
          <ul>
            <li><a class="d" href="/sess"><span class="i"><i class="fa fa-bars"></i>&emsp;Dashboard</span></a></li>
            <li><a href ="/issues"><span class="i" ><i class="fa fa fa-tasks"></i>&emsp;Issues</span></a></li>
           <li><a href ="/schedule"><span class="i" ><i class="fa fa-solid fa-chalkboard-teacher"></i>&emsp;Schedule</span></a></li>
         <li><a class="current" href ="/donations"><span class="i" ><i class="fas fa-solid fa-dollar-sign"></i>&emsp;Donations</span></a></li>

        </div>
       
        <script>
        $(this).toggleClass("click");
          $('.sidebar').toggleClass("show");
    
    
          $('.feat-btn').click(function(){
            $('div ul .feat-show').toggleClass("show");
            $('div ul .first').toggleClass("rotate");
          });
          $('div ul li').click(function(){
            $(this).addClass("active").siblings().removeClass("active");
          });
          function checkUser()
      {
        const button = document.querySelector("#user_name");
              const u_name = button.innerText;

            var my_list = [
            {% for item in adminloop %}
              "{{ item }}"{% if not loop.last %},{% endif %}
            {% endfor %}
          ];
          
          
            if(my_list.includes(u_name))
            {
            document.getElementById("manage-user").style.display="block";
            
            }
            else{
              document.getElementById("manage-user").style.display="none";
            }
      }
          

          function displayForm()
          {
            document.getElementById("message-box").style.display="block";
          }
      
          function closeForm()
          {
            document.getElementById("message-box").style.display="none";
            document.getElementById("message-box-adddonor").style.display="none";
          }
          function displayDonorForm()
          {
            document.getElementById("message-box-adddonor").style.display="block";
          }
        </script>

        <div class="center">
          <div class="heading">
            <button style="display: inline-block;" id="adddonor"  onclick="displayDonorForm()">Add Donor</button>
            <button style="display: inline-block;" id="raisedonation"  onclick="displayForm()">Raise Donation</button>
            <div id="message-box">
              <div id="message-content"></div>
              <form action="/add_donation" method="POST">
                <h1 class="add_issue">Raise Donation</h1>
                <div class="input-field"><input placeholder="Enter Receipt No" name="receiptno" class="validate" required></div>
                <div class="input-field"><input placeholder="Enter Amount"  name="amount" class="validate" required></div>
              
                <div class="input-field">
                  <select name="donationtype" class="validate" required>
                    <option value="" disabled selected>Select Donation Type</option>
                    {% for y in donation_list %}
            
          <option  value= "{{y}}">{{y}}</option>"
              {% endfor %}
                  </select>
                </div>
                <div class="input-field">
                  <select name="donorid" class="validate" required>
                    <option value="" disabled selected>Select Donor ID</option>
                    {% for y in donor_list %}
            
          <option  value= "{{y}}">{{y}}</option>"
              {% endfor %}
                  </select>
                </div>
                <button type="submit" class="last_two_btns" name="submit_issue" a href="/add_donation">Submit</button>
                <button class="last_two_btns" onclick="closeForm()">Close</button>
              </form>
            </div>
        
            <div id="message-box-adddonor">
              <div id="message-content"></div>
              <form action="/add_donor" method="POST">
                <h1 class="add_issue">Add Donor</h1>
                <div class="input-field"><input placeholder="Enter Donor Name" type="text" name="donorname" class="validate" required></div>
                <div class="input-field"><input placeholder="Enter Contact No"  type="number" name="contactno" class="validate" required></div>
                <div class="input-field"><input placeholder="Enter Email Address"  type="text" name="email" class="validate" required></div>
                
                <div class="input-field">
                  <select name="referredby" class="validate" required>
                    <option value="" disabled selected>Referred By</option>
                    {% for y in volunteer_list %}
            
          <option  value= "{{y}}">{{y}}</option>"
              {% endfor %}
                  </select>
                </div>
                <button type="submit" class="last_two_btns" name="submit_issue" a href="/add_donor">Submit</button>
                <button class="last_two_btns" onclick="closeForm()">Close</button>
              </form>
            </div>
          </div>
            {% for table in tables %}
            {{ table|safe }}
        {% endfor %}  
        </div>
    
          
         
          
         


</body>
</html>